* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
}

.app-container {
    position: absolute;
    width: 550px;
    height: 868px;
    left: 65px;
    top: 53px;
    background: #23252C;
}

.card-container {
    position: absolute;
    width: 317px;
    height: 399px;
    left: 116px;
    top: 361px;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.26px;
    text-align: center;
    
}

h2 {
    color: #F3BF99;
    font-weight: 400px;
    font-size: 12.8px;
    line-height: 15.48px;
    text-align: center;
}



.header-container {

}
