* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.app-container {
    position: absolute;
    width: 550px;
    height: 868px;
    left: 65px;
    top: 53px;
    background: #23252C;
}

.card-container {
    position: absolute;
    width: 317px;
    height: 399px;
    left: 116px;
    top: 361px;
}



.header-container {

}
